*{
    margin: 0px;
    padding: 0px;
}

/*************************************/

.header-section{
   background-color: rgb(146, 146, 146);
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 85%;
      position: relative;
   padding: 15px;
}

.logo{
    width: 70px;
}

.cart{
    width: 110%;
cursor: pointer;
}

.cart-products{
    padding: 20px;
    background-color: rgb(102, 102, 102);
    width: 27%;
    height: auto;
    border-radius: 30px;
    position: absolute;
    right:calc(10% - 170px);
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   /* overflow: auto;*/
   
}

.close-btn{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 22px;
    border-radius: 30px;
   color:rgb(255, 255, 255);
   font-weight: 700;
   cursor: pointer;
}

h3{
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 35px;
    margin: 10px;
}

.card-items{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
}

.item{
    height: 80px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 120px;

}

.item-content{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
font-size: 30px;
}

.item-content h5{
    font-size: 25px;
}

.item span{
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
}

.item img{
    width: 15%;
    border-radius: 30%;
}


.count-product{
    display: none;
    background-color: rgb(128, 0, 0);
    width: 30px;
    height: 21px;
    padding-top:10px;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    right:calc(10% - 153px);
    top: 5px;
    z-index: 1;
}


.price-total{
    font-size: 40px;
}

/**************************************/

.products{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
gap: 30px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.carts{
    background-color: aliceblue;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

img{
    width: 85%;
}

.title{
    font-size: 30px;
}

.btn-add-cart{
    padding: 10px;
    border: 1px solid red;
    color: red;
    width: 50%;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

.prize{
    font-weight:700;
    font-size: 35px;
}